<!DOCTYPE html>
<html>
	<head>
		<!--Include semantic ui-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
		<script defer src="/script.js"></script> <!--defer means it will load the script after the page is done rendering-->
		<title>Weather App</title>

	</head>
	<body>







